img{
  height: 50px;
}
span{
  color: aquamarine;
}
.itemCount span{
  color: black;
}
.h4estilo{
  text-decoration: none;
}


.carroflex{
  display: flex;
  justify-content: flex-end;
}
/* div .carroflex.container{
  display: flex;
  justify-content: flex-end;
} */